#map {
    height: 400px;
    width: 250px;
    float: right;
    border: 5px solid #00E6F6;
}
.container{
    visibility: hidden;
    background-color: #333;
    padding: 50px;
    margin-left: 10%;
    width: 60%;
}

.container.show{
    visibility: visible;
}

.content-1{
    float: left;
    text-align: left;
}