<h1>Book a Guide</h1>
<p>Book a guide for your tourist locations by entering only few details...</p>
<div *ngIf="page===1">
    <input type="text" placeholder="Enter the total number of tourists" class="ipt frm" [(ngModel)]="total">
    <select class="ipt frm1" [(ngModel)]="spot">
        <option value="" disabled>Enter your planned tourist spot</option>
        <option *ngFor="let c of cities" [ngValue]="c">{{c}}</option>
    </select><br>
    <button class="btn" (click)="navigate1()">Next</button>
</div>
<div *ngIf="page===2">
    <input type="text" placeholder="Enter your estimated budget for Guide per day(in Rupees)" class="ipt frm" [(ngModel)]="budget">
    <input type="text" onfocus="(this.type='date')"  placeholder="From Date" class="ipt frm" [(ngModel)]="from"> 
    <input type="text" onfocus="(this.type='date')" placeholder="To Date" class="ipt frm" [(ngModel)]="to"><br>
    <button class="btn prev" (click)="page=1">Previous</button>
    <button class="btn" (click)="navigate2()">Next</button>
</div>
<div *ngIf="page===3">
    <select class="ipt frm1" [(ngModel)]="p1">
        <option value="" disabled selected>Enter your First preference</option>
        <option *ngFor="let p of preferences" [ngValue]="p">{{p}}</option>
    </select>
    <select class="ipt frm1" [(ngModel)]="p2">
        <option value="" disabled selected>Enter your Second preference</option>
        <option *ngFor="let p of preferences" [ngValue]="p">{{p}}</option>
    </select>
    <select class="ipt frm1" [(ngModel)]="p3">
        <option value="" disabled selected>Enter your Third preference</option>
        <option *ngFor="let p of preferences" [ngValue]="p">{{p}}</option>
    </select>
    <select class="ipt frm1" [(ngModel)]="p4">
        <option value="" disabled selected>Enter your Final preference</option>
        <option *ngFor="let p of preferences" [ngValue]="p">{{p}}</option>
    </select><br>
        
    <button class="btn prev" (click)="page=2">Previous</button>
    <button class="btn" (click)="navigate3()">Next</button>
</div>
<div id="snackbar" [class.show]="openSB">Don't leave any fields empty</div>
<div *ngIf="page===4">
    <h4>Verify the details you've entered</h4>
    <ul>
        <li><p><b>Name:</b>                  {{loggedUser.name}}</p></li>
        <li><p><b>Phone number:</b>          {{loggedUser.phone}}</p></li>
        <li><p><b>Tourist Spot:</b>          {{spot}}</p></li>
        <li><p><b>Estimated budget:</b>      Rs.{{budget}}/day</p></li>
        <li><p><b>From:</b>                  {{from}}</p></li>
        <li><p><b>To:</b>                    {{to}}</p></li>
        <li><p><b>Total no. of tourists:</b> {{total}}</p></li>
        <li><p><b>First preference:</b>      {{p1}}</p></li>
        <li><p><b>Second preference:</b>     {{p2}}</p></li>
        <li><p><b>Third preference:</b>      {{p3}}</p></li>
        <li><p><b>Fourth preference:</b>     {{p4}}</p></li>
    </ul>
    <button class="btn prev" (click)="page=1">Edit</button>
    <button class="btn" (click)="page=5">Submit</button>
</div>
<div *ngIf="page==5">
    <h3 style="text-align: center;"> Select one from the available Guides in {{spot}}</h3>
    <div class="row">
        <div class="column" *ngFor="let guide of guides">
            <div class="card" *ngIf="spot===guide.spot">
                <img src="../../../assets/img/img m.png" alt="John" style="width:50%;margin-top: 10px;" *ngIf="guide.gender===m">
                <img src="../../../assets/img/img w.png" alt="John" style="width:50%;margin-top: 10px" *ngIf="guide.gender===f">
                <h1>{{guide.name}}</h1>
                <p class="title">{{guide.rating}}/5</p>
                <p>Rs.{{guide.price}}/day</p>
                <p><button class="btn">Try Reaching out</button></p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="page===6">
    <h2>Waiting for a guide...</h2>
    <div class="lds-ripple"><div></div><div></div></div>
</div>