<div class="container">
    <h1>LOGIN AS TOURIST</h1>
    <input type="text" placeholder="Email ID" class="ipt" [(ngModel)]="username"><br>
    <input type="password" placeholder="Password" class="ipt" [(ngModel)]="password"><br>
    <button class="btn" (click)="login()">Log In</button><br>
    <div style="float:left; width: 20%;"><hr/></div>
    <div style="float:right; width: 20%;"><hr/></div>
    Don't have an account?<br>
    <button class="btn" routerLink="/touristSignup">Sign Up</button>
</div>
<div id="snackbar" [class.show]="openSB">{{warning}}</div>