<div class="container">
    <h1>BECOME A TOURIST</h1>
    <input type="email" placeholder="Email ID" class="ipt"><br>
    <input type="password" placeholder="Password" class="ipt"><br>
    <input type="password" placeholder="Confirm Password" class="ipt"><br>
    <button class="btn" routerLink="/touristLogin">Sign Up</button><br>
    <div style="float:left; width: 20%;"><hr/></div>
    <div style="float:right; width: 20%;"><hr/></div>
    Already have an account?<br>
    <button class="btn" routerLink="/touristLogin">Log In</button>
</div>