/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body{
    background-color: #003510;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.container{
    text-align: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content
{
  margin-left:20%;
  padding:1px 16px;
}

.ipt{
    font-family: 'Poppins', sans-serif;
    background: rgba(203, 203, 203, 0.2);
    border-radius: 2px;
    border: 0px;
    color: rgba(255, 255, 255, 0.9);
    width: 85%;
    padding: 10px;
    margin: 20px 0px;
    outline: none;
}

.ipt:focus
{
    border: 0.1px solid #ffffff;
}

.ipt::placeholder
{
    color: rgb(185, 185, 185);
}


.btn {
    background-color: #005723;
    /* border: 1px solid #005822; */
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 30px 0px;
    width: 200px;
  }
  
  .btn:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  
  .navbar {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    background-color: #333;
    width: 20%;
    height: 100%; 
    position: fixed;
    overflow: auto;
  }
  li h1
  {
    padding: 10px;
    border-bottom: 1px solid #005723;
  }
  li .navElements {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

li .navElements:hover:not(.active):not(.logout) {
  background-color: #111;
}

.active {
  background-color:#005723;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background:  #0d2c17;
}
 
::-webkit-scrollbar-thumb {
  background: #005723; 
}

::-webkit-scrollbar-thumb:hover {
  background: #017730; 
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}