<div class="container">
    <h1>BECOME A GUIDE</h1>
    <div *ngIf="page===1">
        <input type="text" placeholder="Name" class="ipt" [(ngModel)]="name"><br>
        <input type="email" placeholder="Email ID" class="ipt" [(ngModel)]="email"><br>
        <input type="phone" placeholder="Phone" class="ipt" [(ngModel)]="phone"><br> 
        <select class="ipt frm1" [(ngModel)]="gender">
            <option value="" disabled>Gender</option>
            <option value="m">Male</option>
            <option value="f">Female</option>
            <option value="n">Prefer not to say</option>
        </select><br>
        <button class="btn" (click)="navigate()">Next</button><br>
    </div>
    <div *ngIf="page===2">
        <select class="ipt frm1" [(ngModel)]="spot">
            <option value="" disabled>Enter your planned tourist spot</option>
            <option *ngFor="let c of cities" [ngValue]="c">{{c}}</option>
        </select><br>
        <input type="password" placeholder="Password" class="ipt" [(ngModel)]="pass"><br>
        <input type="password" placeholder="Confirm password" class="ipt" [(ngModel)]="cpass"><br>
        <button class="btn prev" (click)="page=1">Previous</button>
        <button class="btn" (click)="registerGuide()">Sign Up</button><br>
    </div>
    <div style="float:left; width: 20%;"><hr/></div>
    <div style="float:right; width: 20%;"><hr/></div>
    Already have an account?<br>
    <button class="btn" routerLink="/guideLogin">Log In</button>
</div>
<div id="snackbar" [class.show]="openSB">{{warning}}</div>